.no-round {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.no-border {
    border-width: 0px;
    border-top-width: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
